p {
    margin:0;
}

.begin {
    padding-right:5px;
}

.v-inline {
    display: inline
}

.v-unordered-list {
    margin: 0px;
}

.v-tab {
    display:flex;
    justify-content: space-between;
    background-color:#dbdbdb;
    border-style:solid;
    border-width:1px;
    font-size:20px;
    font-family:"lato";
}

.v-screen {
    font-size: 20px;
    background-color: black;
    height: 90%;
    position: aboslute;
    font-family:"lato";
    color:white;
    border-style:none;
}

.v-input {
    height: 10%;
    width: 90%;
    font-family:"lato";
    display:flex;
    font-size: 20px;
    border-style: none;
    background-color: black;
    color: white;
}

.v-body {
    height: 100%;
    position: absolute;
    width: 100%;
    margin:0px;
}

.v-input-component {

}

.v-form {
    display:flex
}

.v-output {
    color:white;
    height:24px;
}

.v-input-button {
    width:8%;
}
#app{
    height:100%;
}
.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

