p {
    margin:0;
}

.left {
    padding-left: 7%;
}

.s-padding {
    padding: 2%;
}

.flex {
    display: flex;
}

.begin {
    padding-right:5px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    background-color:#EEEEEE;
    height:5%
}

.v-inline {
    display: inline
}

.v-unordered-list {
    margin: 0px;
}

.v-tab {
    display:flex;
    justify-content: space-between;
    background-color:#dbdbdb;
    border-style:solid;
    border-width:1px;
    font-size:100%;
    font-family:"lato";
    height: 18px;
}

.v-screen {
    font-size: 20px;
    background-color: black;
    height: 65%;
    position: aboslute;
    font-family:"lato";
    color:white;
    border-style:none;
    margin: 0px 8% 0px 8%;
}

.v-input {
    height: 10%;
    width: 90%;
    font-family:"lato";
    display:flex;
    font-size: 20px;
    border-style: none;
    background-color: black;
    color: white;
}

.v-body {
    height: 100%;
    position: absolute;
    width: 100%;
    margin:0px;
    font-family: 'lato'
}

.v-input-component {

}

.v-form {
    display:flex
}

.v-output {
    color:white;
    height:8%;
}

.v-input-button {
    width:8%;
}

.v-tab {
    margin:5% 8% 0 8%;
}
#app{
    height:100%;
}
.blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
